body {
  background-color: rgb(128, 128, 242);
  color: white;
  overflow-x: hidden;
}
h1{
      text-align: left;
}
h3 {
  background: rgba(248, 248, 251, 0.266);
  padding: 1%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
 }
.pwd-list {
 background: rgba(248, 248, 251, 0.266);
 padding: 2%;
 width: fit-content;
 margin-left: auto;
 margin-right: auto;
 min-height: 30vh;
 padding: 40px;
 margin-bottom: 20px;
 border-radius: 5px;
}
.pwd-input {
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.pwd-input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pwd-input-item label {
  font-size: medium;
  height: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pwd-input-item input {
  padding: 8px;
  border: none;
  width: 250px;
}
.pwd-input-item input:focus {
  outline: 2px solid rgba(248, 248, 251, 0.266);
  border: none;
}
.primarybtn {
  background-color: rgba(0, 0, 255, 0.363);
  color: white;
  border: none;
  border-radius: 0px;
  margin-top: 20px;
  padding: 10px;
  width: 50px;
}
.pwd-area {
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #5763a5;
    min-height: 30vh;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
   
}
.password-text {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  color: #f8fafc;
  margin-right: 10px;
}
.password-text {
  font-size: 25px;
  margin-right: 5px;
}
.pwd-search {
    height: 26px;
    width: 200px;
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f8fafc;
    margin-bottom: 20px;
}

.add-btn, .input-bar {
  outline: none;
  font-family: "Roboto";
  font-size: 15px;
}
.check-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  margin-right: 10px;
}
.check-box {
  width: 15px;
  height: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
}
.label {
  font-family: "Roboto";
  font-size: 15px;
  color: #f8fafc;
}
.input-bar {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-style: none;
  border-left: 1px solid #94a3b8;
}
input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}
.pwd-list {
  display: flex;
  flex-direction: column;

}
.pwd-list-item {
  background-color: #94a3b8;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 10px;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 10px;
}
.pwd-list-item h2 {
  font-size: 14px;
  margin-top: 8px;
}
.pwd-list-item p {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}
.icon:hover {
  color: red;
}